<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VideoGames</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>control.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoriaServlet</servlet-name>
    <servlet-class>control.CategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaServlet</servlet-name>
    <url-pattern>/CategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>control.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>control.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping><servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>control.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>CategoriaServlet</welcome-file>
  </welcome-file-list>
</web-app>