.cartContainer{
  margin-top:1.6em;
    font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2em;
  border:4px solid #00DC3E;
  border-radius: 0.5em;
 box-shadow: 16px 16px 16px #999;
}
.media-body{
  padding-left: 1em;
}
.table h5, .table h3{
  text-transform: uppercase;
  font-weight: bold;
}
